<footer id="page-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div id="footer-logo">
                <img src="/resources/img/footer-logo2.svg" alt="Väestörekisterikeskus logo">
            </div>
            <p>
                <span data-i18n="footer__tunnistuspalvelusta_vastaa">Kansalaisen tunnistuspalvelusta vastaa </span>
                <a id="kansalaisen_palvelusta_vastaa_url" data-i18n="[href]footer__vrk_url;footer__vaestorekisterikeskus"
                   target="_blank" href="http://vrk.fi">Väestörekisterikeskus</a>
            </p>
            <ul class="link-list">
                <li><a target="_blank" data-i18n="footer__tietoa_tunnistautumisesta" href="/sivut/info/tietoapalvelusta/">Tietoa tunnistautumisesta</a><span data-i18n="footer__linkki_avautuu_uuteen_ikkunaan" class="sr-only">Linkki avautuu uuteen ikkunaan</span></li>
                <li><a target="_blank" data-i18n="footer__tietosuojaseloste" href="/sivut/info/tietosuojaseloste/">Henkilötietolain mukainen tietosuojaseloste</a><span data-i18n="footer__linkki_avautuu_uuteen_ikkunaan" class="sr-only">Linkki avautuu uuteen ikkunaan</span></li>
                <li><a target="_blank" data-i18n="footer__palaute" href="/sivut/info/palaute/">Ilmoita virheestä tai anna palautetta</a><span data-i18n="footer__linkki_avautuu_uuteen_ikkunaan" class="sr-only">Linkki avautuu uuteen ikkunaan</span></li>
            </ul>
        </div>
    </div>
</footer>
