<header id="page-header" role="banner">
    <div id="site-options">
        <div class="container">
            <ul class="language-selection">
                <li><a lang="fi" onclick="setLanguage('fi')"><span>Suomeksi</span></a></li>
                <li><a lang="sv" onclick="setLanguage('sv')"><span>På svenska</span></a></li>
                <li><a lang="en" onclick="setLanguage('en')"><span>In English</span></a></li>
            </ul>
            <ul class="adjust-font-size" aria-hidden="true">
                <li><button title="Pienennä tekstikokoa" class="decrease-font-size">A-</button></li>
                <li><button title="Suurenna tekstikokoa" class="increase-font-size">A+</button></li>
            </ul>
        </div>
    </div>
    <div id="header-content" class="container">
        <div class="header-row top-row">
            <div class="container">
                <div class="centered">
                    <div class="logo-row">
                        <h1 class="site-logo">
                            <img data-i18n="[src]header__logo;[alt]header__suomifi-tunnistaminen" title="Suomi.fi-tunnistaminen"/>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-row" id="main-menu">
            <div class="container">
                <div class="header-actions">
                </div>
            </div>
        </div>
    </div>
</header>
