##
## Velocity Template for logout flow's concluding view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## logoutContext - context with SPSession details for logout operation
## multiRPContext - context with RelyingPartyContexts and possibly SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
##
#set ($outboundContext = $profileRequestContext.getOutboundMessageContext())
#set ($samlPeerContext = $outboundContext.getSubcontext(
    'org.opensaml.saml.common.messaging.context.SAMLPeerEntityContext'))
#set ($metadataContext = $samlPeerContext.getSubcontext(
    'org.opensaml.saml.common.messaging.context.SAMLMetadataContext'))
#set ($spEntity = $metadataContext.getEntityDescriptor())
#set ($extensions = $spEntity.getSPSSODescriptor(
    "urn:oasis:names:tc:SAML:2.0:protocol").getExtensions().getOrderedChildren())
#set ($organizationURLs = $spEntity.getOrganization().getURLs())

#foreach ($extension in $extensions)
    #if ($extension.getElementQName().getLocalPart().equals("UIInfo"))
        #foreach ($uiNode in $extension.getOrderedChildren())
            #if ($uiNode.getElementQName().getLocalPart().equals("DisplayName") && $uiNode.getXMLLang().equals("fi"))
                #set ($spDisplayNameFi = $uiNode.getValue())
            #end
        #end
    #end
#end
#foreach ($url in $organizationURLs)
    #if ($url.getXMLLang().equals("fi"))
        #set ($spOrganizationURLFi = $url.getValue())
    #end
#end


<!doctype html>
<!--[if lte IE 7]> <html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3 lte_ie9 lte_ie8 lte7"> <![endif]-->
<!--[if IE 8]> <html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3 lte_ie9 lte_ie8 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3 lte_ie9 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3"><!--<![endif]-->

<script type="text/javascript">window.liveSettings = {
    api_key: "e3931c8e64b6472a8a16b9baf3bc1d1d",
    picker: "top-left",
    dynamic: true
};</script>
<script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
<html>
<head>
    <meta charset="utf-8">
    <title>Tunnistuspalvelu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/stylesheets/style.css">
    <script src="/resources/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/resources/js/vendor/respond.js"></script>
    <![endif]-->
</head>
<body id="identification-service">
<a href="#main" class="visuallyhidden focusable">Siirry suoraan sisältöön</a>
<header id="page-header" role="banner">
    <div id="site-options">
        <div class="container">
            <ul class="adjust-font-size" aria-hidden="true">
                <li>
                    <button title="Pienennä tekstikokoa" class="decrease-font-size">A-</button>
                </li>
                <li>
                    <button title="Suurenna tekstikokoa" class="increase-font-size">A+</button>
                </li>
            </ul>
        </div>
    </div>
    <div id="header-content" class="container">
        <div class="header-row top-row">
            <div class="container">
                <div class="centered">

                    <div class="logo-row">
                        <h1 class="site-logo">
                            Suomi.fi-tunnistus
                        </h1>
                    </div>
                </div>

            </div>
        </div>
        <div class="header-row" id="main-menu">
            <div class="container">
                <div class="header-actions">

                </div>

            </div>
        </div>
    </div>
</header>
<main id="main" role="main" name="main">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">

                    <h2>Kirjauduit ulos</h2>

                    <p>Kirjauduit ulos palvelusta.</p>

                    <p><a href="$spOrganizationURLFi">$spDisplayNameFi</a></p>

                </div>
            </div>
        </div>
    </div>
</main>
<footer id="page-footer" role=”contentinfo”>
    <div class="container">
        <div class="row">
            <div id="footer-logo">
                <img src="/resources/img/footer-logo2.svg" alt="Väestörekisterikeskus logo">
            </div>
            <p>Suomi.fi-tunnistuksesta vastaa <a id="kansalaisen_palvelusta_vastaa_url" target="_blank" href="http://vrk.fi">Väestörekisterikeskus</a></p>
            <ul class="link-list">
                <li><a target="_blank" href="/info/tietoapalvelusta/">Tietoa tunnistautumisesta</a></li>
                <li><a target="_blank" href="/info/tietosuojaseloste/">Henkilötietolain mukainen tietosuojaseloste</a>
                </li>
                <li><a target="_blank" href="/info/palaute/">Ilmoita virheestä tai anna palautetta</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="/resources/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/resources/js/plugins.js"></script>
<script src="/resources/js/main.js"></script>
</body>
</html>
