##
## Velocity Template containing logout propagation machinery.
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## logoutContext - context with SPSession details for logout operation
## flowSelector - bean that maps an SPSession to a logout propagation flow
## multiRPContext - context with RelyingPartyContexts and possibly SP UI information from the metadata
## htmlEncoder - HTMLEncoder class
## urlEncoder - urlEncoder class
## codecUtil - CodecUtil class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
## The <li> items are an enumeration of the relying parties among the sessions
## and are identified by an encoding of the name of the relying party.
##
## The iframes are bound to a single session and are associated back to the <li>
## element for the relying party of their session.
##
#parse("./include.vm")
<div class="row">
     <div class="col-xs-12 identification-info">
         <h1>
            <div data-i18n="logout__uloskirjautunut" class="small">Olet kirjautunut ulos palvelusta</div>
            #if ($spDisplayNameFi || $spDisplayNameSv || $spDisplayNameEn)
                <div id="serviceDisplayName"></div>
            #end
            <span id="serviceDisplayNameFi" class="visuallyhidden">$spDisplayNameFi</span>
            <span id="serviceDisplayNameSv" class="visuallyhidden">$spDisplayNameSv</span>
            <span id="serviceDisplayNameEn" class="visuallyhidden">$spDisplayNameEn</span>
         </h1>
     </div>

    <div class="col-xs-12">
        <p data-i18n="logout__uloskirjautunut_kaikista">Olet nyt kirjautunut ulos kaikista palveluista.</p>
    </div>

    <div class="col-xs-12 col-md-10">
      <div class="box logout-details">
          <table class="service-details">

              #foreach ($sp in $logoutContext.getSessionMap().keySet())
                  #set ($rpCtx = $multiRPContext.getRelyingPartyContextById($sp))
                  #if ($rpCtx)
                      #set ($rpUIContext = $rpCtx.getSubcontext("net.shibboleth.idp.ui.context.RelyingPartyUIContext"))
                      
                  #end
                  <tr id="result_$codecUtil.hex($sp.getBytes())" class="spresult">
                      #if ($rpUIContext and $rpUIContext.getServiceName())
                        <td class="strong" >
                            #set ($browserLanguages = [])
                            #set ($discard = $browserLanguages.add("fi"))
                            #set ($rpUIContext = $rpUIContext.setBrowserLanguages($browserLanguages))                        
                            <span class="localizationfi" style="display: none;">$htmlEncoder.encodeForHTML($rpUIContext.getServiceName())</span>
                            
                            #set ($browserLanguages = [])
                            #set ($discard = $browserLanguages.add("sv"))
                            #set ($rpUIContext = $rpUIContext.setBrowserLanguages($browserLanguages))
                            <span class="localizationsv" style="display: none;">$htmlEncoder.encodeForHTML($rpUIContext.getServiceName())</span>
                            
                            #set ($browserLanguages = [])
                            #set ($discard = $browserLanguages.add("en"))
                            #set ($rpUIContext = $rpUIContext.setBrowserLanguages($browserLanguages))
                            <span class="localizationen" style="display: none;">$htmlEncoder.encodeForHTML($rpUIContext.getServiceName())</span>
                        </td>
                      #else
                          <td class="strong">$htmlEncoder.encodeForHTML($sp)</td>
                      #end
                      <td id="logging-item"><span class="logging-out" data-i18n="logout__sessiot__uloskirjautuminen__menossa">Kirjaudutaan ulos...</span></td>
                  </tr>
              #end
          </table>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <button id="logout-button" class="disabled" link-target="$flowExecutionUrl&_eventId=proceed" disabled="true" data-i18n="logout__sessiot__uloskirjautuminen__menossa">
            Kirjaudutaan ulos...
        </button>
        <div class="row">
            <a id="logout-back-link" href="javascript:void(0)" link-target="$flowExecutionUrl&_eventId=proceed" class="go-back">
                <span data-i18n="logout__palaa">Palaa palveluun</span>&nbsp;<span id="serviceDisplayNameReturn"></span>
            </a>
        </div>
    </div>
</div>
<script src="/resources/js/vendor/jquery.min.js"></script>
    #foreach ($entry in $logoutContext.getKeyedSessionMap().entrySet())
        #if ($flowSelector.apply($entry.getValue()))
            #set ($trackerId = "result_$codecUtil.hex($entry.getValue().getId().getBytes())")
        <iframe id="sender_$codecUtil.hex($entry.getKey().getBytes())"
                src="$request.contextPath/profile/PropagateLogout?SessionKey=$urlEncoder.encode($entry.getKey())"
                class="visuallyhidden addonload"
                entrykey="$entry.getKey()"
                trackerid="$trackerId"></iframe>
        #end
    #end
<script src="/resources/js/propagate.js"></script>
